.container {
  display: flex;
  height: 100vh;

}

.albumContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.album {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25vh;
}

.album > h1, .album > h2 {
  margin-left: 21%;
}

.album > h1 {
  font-size: 24px;
} 

.album > h2 {
  font-size: 18px;
} 

.album > img {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 20px;
  top: 29px;
  
  /* mix-blend-mode: normal; */
  filter: drop-shadow(-9px 8px 8px rgba(68, 73, 85, 0.2));
  border-radius: 12px;
}

.tracks {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #EFF3F9;
  align-items: center;
  gap: 25px;
  overflow: scroll;
}

.tracks > :nth-child(1) {
  margin-top: 10%;
}