.cardContainer {
  border-radius: 10px;
  position: relative;
}

.cardContainer a {
  color: inherit;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.infosContainer {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.infos {
  align-items: flex-start;
  background: linear-gradient(152.68deg, #003be5 29.78%, #00d5e2 68.22%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 90%;
  justify-content: center;
  margin: 5%;
}

.infos p {
  color: white;
}

.cardContainer img {
  border-radius: 30px;
  z-index: 2;
}

.cardContainer:hover img {
  opacity: 20%;
  transform: rotateY(-90deg) translate3d(0px, -80px, -90px);
  transition: 0.5s;
}
