.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.loadImg {
  width: 25%;
}

.p {
  font-size: 100%;
  font-weight: 700;
}
