.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

}

.form {
  align-items: center;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  width: 550px;

}

.form img {
  margin-bottom: 100px;
  width: 220px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  width: 50%;
}

.section input {
  border-radius: 20px;
  text-align: center;
  width: 97%;
}

.form button {
  border: none;
  border-radius: 20px;
  text-decoration: none;
  width: 100%;
}

.form button:hover:enabled {
  background-color: rgb(29, 165, 29);
}
