.containerMusic {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  width: 600px;
}

.name {
  font-size: 16px;
  width: 40%;
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
  background-color: white;
  color: white;
}

.audio {
  align-items: center;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 50%;
}

.input {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 10%;
}

.input > input {
  cursor: pointer;

}

.input input {
  appearance: none;
  background-color: white;
  height: 15px;
  outline: none;
  position: relative;
  transform: rotate(45deg);
  width: 15px;
}

.input input:before {
  background-color: white;
  border-radius: 25px 25px 0 0;
  content: '';
  height: 60%;
  position: absolute;
  top: -56%;
  width: 100%;
}

.input input:after {
  background-color: white;
  border-radius: 75px 75px 0 0;
  content: '';
  height: 60%;
  position: absolute;
  right: 76%;
  top: 20%;
  transform: rotate(-90deg);
  width: 100%;
}

.input input:checked, .input input:checked:before, .input input:checked:after {
  background-color: red;
}
