.searchContainer {
  display: flex;
  width: 100%;
}

.renderSearch {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.result {
  align-self: center;
  color: #eff3f9;
  font-size: 20px;
}

.searchInputs {
  height: 20vh;
  text-align: center;
  width: 100%;
}

.searchInputs input {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 25px;
  height: 25%;
  margin-bottom: 15px;
  margin-top: 3.5%;
  text-align: center;
  width: 35%;
}

.searchInputs input::placeholder {
  color: #eff3f9;
}

.searchInputs button {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 42px;
  color: #eff3f9;
  font-size: 12px;
  height: 25%;
  margin-left: 10px;
  width: 15%;
}

.apiContainer {
  background-color: #eff3f9;
  display: flex;
  height: 80vh;
  justify-content: center;
  overflow: scroll;
  scrollbar-color: rebeccapurple green;
  width: 100%;
}

.apiReturn {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  text-align: center;
  width: 96%;
}
