* {
  color: #001813;
  margin: 0;
}

.container {
  background: linear-gradient(152.68deg, #003be5 9.78%, #00d5e2 48.22%);
}

.routes {
  background-image: url('./images/BG\ AZUL.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
